<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
</head>
<body>
    <table id="age_x" lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{field:'id',width:100,sort:true}">ID</th>
                <th lay-data="{field:'last_name',width:80,sort:true}">名</th>
                <th lay-data="{field:'first_name',width:80,sort:true}">姓</th>
                <th lay-data="{field:'email',width:100,sort:true}">邮箱</th>              
            </tr>
        </thead>
        <tbody>
            <?php
            foreach($customers as $customer){
            ?>
            <tr>
                <td><?=$customer['id']?></td>
                <td><?=$customer['last_name']?></td>
                <td><?=$customer['first_name']?></td>
                <td><?=$customer['email']?></td>
                <td></td> 
            </tr>
            <?php }?>
        </tbody>
    </table>
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>
    layui.use(['table'],function(){
        var table=layui.table;
        table.init('demo',{
            minWidth:50
            ,page:true
        });
    });
</script>
</body>
</html>