<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台</title>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">
    <script src="public/jquery.min.js"></script>
</head>
<body>
    <h3>person表</h3>
    <!-- 工具集 -->
    <div class="customer-btn-box">
        <span class="f1">
            <a class="layui-btn btn-add btn-default" id="person-add">添加</a>
        </span>
    </div>
        <table id="person" lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{field:'id',width:80,sort:true}">id</th>
                <th lay-data="{field:'last_name',width:120,sort:true}">last_name</th>
                <th lay-data="{field:'first_name',width:120,sort:true}">first_name</th>
                <th lay-data="{field:'email',width:200}">email</th>
                <th lay-data="{field:'phone',width:120}">phone</th>
                <th lay-data="{field:'opt_person',width:150, toolbar:'#barDemo'}">操作</th>                    
            </tr>
        </thead>
        <tbody>
        <?php
        foreach($persons as $person){
        ?>
        <tr>
            <td><?=$person['id']?></td>
            <td><?=$person['last_name']?></td>
            <td><?=$person['first_name']?></td>
            <td><?=$person['email']?></td>
            <td><?=$person['phone']?></td>
            <td></td>  
        </tr>
        <?php }?>
        </tbody>
    </table>
    <h3>location表</h3>
    <!-- 工具集 -->
    <div class="customer-btn-box">
        <span class="f1">
            <a class="layui-btn btn-add btn-default" id="location-add">添加</a>
        </span>
    </div>
    <table id="location" lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{field:'id',width:80,sort:true}">id</th>
                <th lay-data="{field:'zipcode',width:120,sort:true}">zipcode</th>
                <th lay-data="{field:'city',width:120,sort:true}">city</th>
                <th lay-data="{field:'address',width:200}">address</th>
                <th lay-data="{field:'state',width:120}">state</th>
                <th lay-data="{field:'opt_location',width:150, toolbar:'#barDemo'}">操作</th>                    
            </tr>
        </thead>
        <tbody>
        <?php
        foreach($locations as $location){
        ?>
        <tr>
            <td><?=$location['id']?></td>
            <td><?=$location['zipcode']?></td>
            <td><?=$location['city']?></td>
            <td><?=$location['address']?></td>
            <td><?=$location['state']?></td>
            <td></td> 
        </tr>
        <?php }?>
        </tbody>
    </table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
    <script>
        layui.use('table',function(){
            var table=layui.table;
            table.init('demo',{
                minWidth:50
                ,page:true
            });
            table.on('tool(demo)',function(obj){
                var data=obj.data
                  ,layEvent=obj.event;
                if(layEvent=='del'){
                    layer.confirm('真的删除么',function(index){
                        if('opt_person' in data){
                            //alert("删除person");
                            location.href="?p=admin&c=person&a=index&id="+data['id']+"&exec=person_delete_&token="+"<?=TOKEN?>";
                        }else if('opt_location' in data){
                            //alert("删除location");
                            location.href="?p=admin&c=person&a=index&id="+data['id']+"&exec=location_delete_&token="+"<?=TOKEN?>";
                        }
                        layer.close(index);
                    });
                }else if(layEvent==="edit"){
                    var url='';
                    var opt='';
                    if('opt_person' in data){
                        url='edit_person.html';
                        opt = 'person_edit_';
                    }else if('opt_location' in data){
                        url='edit_location.html';
                        opt = 'location_edit_';
                    }
                    var prefix = './public/admin/';
                    url = prefix + url;
                    layer.open({
                        type:2,
                        maxmin:true,
                        content:url,
                        title: '<li id="icon" class="layui-icon layui-icon-release layui-anim layui-anim-scaleSpring" ' +'style="font-size: 30px; color: #009688;" data-anim="layui-anim-scaleSpring"></li> 编辑 ',
                        area:['470px','600px'],
                        success:function(layero,index){
                            var body=layer.getChildFrame('body',index);
                            var iframe=window['layui-layer-iframe'+index];
                            var inputList=body.find('input');
                            var json = JSON.parse(JSON.stringify(data));
                            for(let d in json){
                                body.find('input[name="'+d+'"][type="text"],[type="hidden"]').val(json[d])
                            }
                            var objs1={
                                "token": "<?=TOKEN?>",
                                "opt":opt
                            }
                            iframe.child(objs1);
                        },
                        end:function(){
                            location.reload(false);
                            layer.msg('保存成功');
                        }
                    })
                }
            });
            $('#person-add').on('click',function(){
                layer.open({
                    type:2,
                    maxmin:true,
                    content:"./public/admin/edit_person.html",
                    title: '<li id="icon" class="layui-icon layui-icon-release layui-anim layui-anim-scaleSpring" ' +'style="font-size: 30px; color: #009688;" data-anim="layui-anim-scaleSpring"></li> 编辑 ',
                    area:['470px','600px'],
                    success:function(layero,index){
                        var iframe=window['layui-layer-iframe'+index];
                        var objs1={
                            "token": "<?=TOKEN?>",
                            "opt":"person_add_"
                        }
                        iframe.child(objs1);
                    },
                    end:function(){
                        location.reload(false);
                        layer.msg('添加成功');
                    }
                })
            });
            $('#location-add').on('click',function(){
                layer.open({
                    type:2,
                    maxmin:true,
                    content:"./public/admin/edit_location.html",
                    title: '<li id="icon" class="layui-icon layui-icon-release layui-anim layui-anim-scaleSpring" ' +'style="font-size: 30px; color: #009688;" data-anim="layui-anim-scaleSpring"></li> 编辑 ',
                    area:['470px','600px'],
                    success:function(layero,index){
                        var iframe=window['layui-layer-iframe'+index];
                        var objs1={
                            "token": "<?=TOKEN?>",
                            "opt":"location_add_"
                        }
                        iframe.child(objs1);
                    },
                    end:function(){
                        location.reload(false);
                        layer.msg('添加成功');
                    }
                })
            });
        });
    </script>
</body>
</html>