html{height:100%;}
body{height:100%;margin:0}
.top{position:fixed;height:32px;width:100%;z-index:1;min-width:400px;}
.top-title{height:100%;line-height:32px;text-indent:16px;float:left;}
.top-right a{text-decoration:none;margin-left:10px;margin-right:20px;line-height:32px;}
/*顶部以下*/
.main{padding-top:32px;position:fixed;bottom:0;top:0;right:0;left:0;}
/*左侧导航*/
/* .nav{position:fixed;width:160px;min-height:100%;} */
/*内容区域*/
.content{height:90%;width:75%;margin-left:160px;margin-top:20px;}
.content iframe{width:100%;height:100%;margin-left:150px;margin-top:50px;}
/*登录页*/
.login{width:100%;height:100%;}
.login-wrap{padding:40px 24px 30px;background:#fff;box-shadow:0 1px 3px rgba(0,0,0,.13);margin-bottom:40px;}
.login-box {margin-left: 400px;margin-top:100px;}
.login-box tr{display:block;margin-bottom:15px;}
.login-box th{width:80px;text-align:right;font-weight:normal;}
.login-box td{text-align:left;}
.login-box td input[type=text]{width:250px;padding:3px 4px;font-size:20px;border:1px solid #ddd;color:#666;}
.login-box td input[type=password]{width:250px;padding:3px 4px;font-size:20px;border:1px solid #ddd;color:#666;}
.login-box td input[type=submit]{background:#0077a2;color:#fff;border:1px solid #deeffa;cursor:pointer;padding:6px 40px;}
.login-box td input[type=submit]:hover{background:#005580;}
.login-box td img{cursor:pointer;}
.login .tips div{border-left:4px solid #00a0d2;padding:12px;background-color:#fff;box-shadow:0 1px 1px 0 rgba(0,0,0,.1);margin-bottom:15px;color:#444;text-align:left;}
.login .tips .error{border-left-color:#dc3232;}
.photo{cursor:pointer;color:#eee;height:72px;text-indent:20px;line-height:52px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:10px;}
.icon-admin:before{content: "";font-family:dashicons;font-size:32px;position:relative;top:12px;margin-right:10px;}
.photo:hover{background-color:#191e23;}
.photo:hover{color:#fff;}